body
{
   background: linear-gradient(rgb(148, 100, 178),black);
   text-align: center;
   height:100vh;    
}

.main
{ 
   padding:20px;
   background: linear-gradient(black,rgb(54, 45, 60));
   width:600px;
   height:500px;
   display: block;
   margin: 50px auto;
   font-family: 'Cinzel', serif;
   font-family: 'Sarala', sans-serif;
   color:white;
   text-shadow: 0px 0px 5px purple;
   border-radius:5px;
}

.btn
{
   display: block;
   width:185px;
   padding:10px;
   margin: 15px auto;
   border:none;
   border-radius:8px;
   font-weight: bold;
}

#count-btn
{
   background-color:rgb(232, 78, 235); 
}



#reset-btn
{
   background-color: rgba(18, 222, 168, 0.977);
   margin-bottom:50px;
   
}


